*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: rgb(166, 176, 177);
    margin: 0;
    height: 100vh;
}

.wrapper, .wrapper-2 {
    height: 100vh;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 1s;
    width: 100%;

    .content, .content-2 {
        position: absolute;
        z-index: 1;
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100%;
        color: #91724A;

        h1 {
            font-size: 4rem;
        }
  
    }

    .image {
        background: url("../img/backgr.jpg");
        background-size: 100vw 80vw;
        background-repeat: no-repeat;
        height: 100vh;
    }
}

.wrapper-2 {
    z-index: -1;
    .content {
        h1 {
            color: #91724A;
        }
    
    }
    .image {
        background: url("../img/baltic_sea.jpg");
        background-size: 100vw 100vw;
        background-repeat: no-repeat;
    }
}