*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.wrapper {
    height: 100vh;

    .content {
        position: absolute;
        z-index: 1;
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100%;
        color: burlywood;

        h1 {
            font-size: 4rem;
        }
    }

    .image {
        background: url("../img/backgr.jpg");
        background-size: 100vw 90vw;
        background-repeat: no-repeat;
        height: 100vh;
    }
}