*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}
body:hover .wrapper{
    clip-path: polygon(25% 25%, 75% 20%, 75% 88%, 25% 88%);
}

.wrapper {
    height: 100vh;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 2s;
    width: 100%;

    .content {
        position: absolute;
        z-index: 1;
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100%;
        color: burlywood;

        h1 {
            font-size: 4rem;
        }
    }

    .image {
        background: url("../img/backgr.jpg");
        background-size: 100vw 90vw;
        background-repeat: no-repeat;
        height: 100vh;
    }
}